 /* Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    color: rgb(7, 0, 0);
    scroll-behavior: smooth;
}
/* --------team--------------- */
.team{
    display: grid;
 
grid-template-columns: repeat(3, 1fr);
 
grid-auto-rows: auto;
 
grid-gap: 1rem;

}
.card{
    border: 2px solid #e7e7e7;
 
border-radius: 4px;
 
padding: .5rem;


}

/* -----------close_team------- */
   

/* Sticky Navbar */

.icon-bar a i:hover {
    background: #37517e;
    color: rgb(12, 1, 1);
}

a{
  text-decoration: none;
  color: rgb(12, 2, 2);
  transition: color .25s ease-in-out;
  outline: none;
}  
    
header{
    background-color: #1edba2;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 nav{
    
    
    color: rgba(15, 1, 1, 0.849);
    position: fixed;
    top: 0;
    background-color: #1edba2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 20px 200px;
}
nav h2{
    color: #fff;
}
nav ul{
    display: flex;
    align-items: center;
    color: #fff;
}

 nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 10px 0px 5px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }
nav ul li a{
    position: relative;
  overflow: hidden;
  z-index: 1;
}
nav ul li a:after{
    display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav ul li a:hover:after {
    
    animation: circle 1.5s ease-in forwards;
  }


.bannerSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 150px;
    margin-top: 50px;
    width: 100%;
}
.bannerText h1{
    font-size: 48px;
    font-weight: 700;
}
.bannerText h2{
    font-size: 16px;
    line-height: 1.5;
    color: #f0f0f083;
    font-weight: 500;
    margin-top: 10px;
}
.bannerIllustration img{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.buttonCenter{
    margin-top: 20px;
    display: flex;
}
.bannerIllustration img{
    z-index: 0;
}
.buttonCenter a.commanBtn{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: #47b2e4;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0 20px 0 0;
}
.buttonCenter a.commanBtn:hover{
    background-color: #228abb;
}
.bannerIllustration img{
    width: 500px;
}

.shadow:hover{
    text-shadow: 1px 1px 2.5px #87CEEB;

}

@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

.body{
    padding: 20px 200px;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 20px;
}
.body h2{
    color: #37517E;
    font-size: 30px;
    text-transform: uppercase;
}
.body hr{
    border: none;
    height: 3px;
    background-color: #47b2e4;
    width: 50px;
    margin: 10px auto;
}
/* .dualSections{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}
.dualSectionsText{
    text-align: justify;
    flex-basis: 50%;
}
.dualSectionsText p {
    color: #37517E;
    margin-bottom: 30px;
}
.dualSectionImg{
    flex-basis: 40%;
}
.dualSectionImg img{
    width: 400px;
}
.dualSectionsText a{
    color: #228abb;
    border: 2px solid #228abb;
    padding: 5px 25px;
    border-radius: 3px;
    font-size: 16px;
    transition: .25s all ease-in-out;
}
.dualSectionsText a:hover{
    background-color: #228abb;
    color: #fff;
} */
.project-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.projectDescription h2{
    color: #37517E;
    font-size: 30px;
    text-transform: uppercase;

}
.projectCard{
    position: relative;
    flex-basis: 30%;
    background-color: #37517E;
    margin: 10px;
    padding: 10px;
    color: #1edba2;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.projectCardImg{
    width: 420px;
    height: 200px;
    border-radius: 5px;
}
.projectCardTitle{
    font-size: 18px;
    text-align: center;
}

.projectCard:hover{
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.644));
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.644));
}
.homeProjects{
    background-color: #F3F5FA;
    width: 100%;
    color: #37517E;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px 200px;
}
.homeProjects h1{
    color: #37517E;
    font-size: 30px;
    text-transform: uppercase;
}
.homeProjects hr{
    border: none;
    height: 3px;
    background-color: #47b2e4;
    width: 100px;
    margin: 10px 0;
}
.projectDescription{
    flex-basis: 40%;
    margin-left: 60px;
}
.projectDescription p{
    color: #37517E;
    margin-bottom: 20px;
}

a.button{
    color: #228abb;
    padding: 5px 20px;
    border: 2px solid #228abb;
    transition: .25s all ease-in-out;
    border-radius: 3px;
}
a.button:hover{
    background-color: #228abb;
    color: #fff;
}
footer{
    background-color: #37517E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    height: 8vh;
}
footer a{
    color: #dde8ec;
}


